// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "masonry/transitions";

body {
  background-color: #FCFCFC;
}

.events {
  margin: 0 auto;
  width: 100%;
  .event {
    margin: 10px;
    width: 300px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h3 {
      margin: 0;
      padding: 25px 10px;
    }
    .place {
      padding: 15px;
      margin: 0;
    }
  }
}
