.events {
  margin: 0 auto;
  width: 100%;
  .event {
    margin: 10px;
    width: 300px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h3 {
      margin: 0;
      padding: 25px 10px;
    }
    .place {
      padding: 15px;
      margin: 0;
    }

  }
}
.description {
  max-width: 500px;
}
.event-image {
  max-width: 500px;
}

li.list-group-item {
  border: 1px solid gray;
}

.row.no-gutter {
  margin: 0;

  [class*='col-'] {
    &:not(:first-child),
    &:not(:last-child) {
      padding: 0px 2px;
    }
  }
}

#infscr-loading {
  position: fixed;
  bottom: 10px;
  left:50%;
}
