%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Meecon", root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.navbar-right
      = link_to "New Event", new_event_path, class: 'navbar-brand'
